html, body {
    font-family: courier, "courier new", monospace;
    text-shadow: 2px 2px #00000064;
    background-color: #212121;
    color: #fff;
}

#feed-header {
    display: flex;
    justify-content: space-between;
}

#items {
    display: flex;
    flex-direction: column;
}

.item {
    color: #fff;
    text-align: center;
}

.down {
    color: #F4511E;
}

.up {
    color: #558B2F;
}

.date {
    color: #C8E6C9;
    opacity: 0.7;
}

.time {
    color: #C8E6C9;
}

.product {
    color: #00B0FF;
}

.size {
    color: #EC407A;
}

.connecting {
    color: #EC407A;
}

.connected {
    color: #558B2F;
}

.closed {
    color: #F4511E;
}

.status {
    color: #C8E6C9;
}

#status {
    margin: 16px;
}

#version {
    color: #C8E6C9;
    margin: 16px;
}